<a href="https://colab.research.google.com/github/jtmeawno1/BasicProg_DataViz65/blob/main/midterm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1 ทำนายราคาบ้าน 10 คะแนน
เตรียมข้อมูลเพื่อทำนายราคาบ้าน ราคาประเมินบ้าน และ คะแนนทรัพย์ จาก [google drive](https://drive.google.com/drive/folders/1uIcUFY1yldIq-A3wijh2n2N6az-EljIe?usp=sharing) โดยข้อมูลที่เตรียมต้องประกอบด้วย columns ต่อไปนี้

* ```'renovate','number_of_rai','number_of_ngan','number_of_va','number_of_story','number_of_bedroom','number_of_bathroom','direction','furniture','usable_area','number_of_parking', 'sell_price'``` จากตาราง "คำตอบนักประเมิน(ID)"

* ```จำนวน 7-11 และ โรงเรียน ในรัศมี 200,500,1000,2000 เมตร (ตั้งชื่อ d200-7/11','d500-7/11',...,'d2000-7/11' แบะ ;d200-school','d500-school',...,'d2000-school')``` จากตาราง "7-eleven.json" และ "school.json"

* ```ประเมินราคาซื้อขาย และ คะแนนทรัพย์ (ตั้งชื่อ 'estimator' และ 'score')``` จากตาราง คำตอบนักประเมิน(ID) โดยราคาประเมินกับคะแนนทรัพย์ อ้างอิงของนักประเมิน ID=01 คนเดียว

In [1]:
import pandas as pd
import numpy as np
from pandas.io import json
import matplotlib.pyplot as plt
import seaborn as sns
import geopy.distance

In [2]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

#import file

In [3]:
#คำตอบนักประเมิน(ID)
link1 = 'https://docs.google.com/spreadsheets/d/1F5Og-SUPEbjdMfIjyvsYkKE4tgvvOV6E/export?format=xlsx'
detachedhouse = pd.read_excel(link1,sheet_name='บ้าน')
secondhand = pd.read_excel(link1,sheet_name='secondhand')

#Data House
link2 = 'https://docs.google.com/spreadsheets/d/1UJA8RJhC20SVg0qcBs1iy2lLYk2_a8e7/export?format=xlsx'
H1 = pd.read_excel(link2,sheet_name='บ้านมือ1')
H2 = pd.read_excel(link2,sheet_name='บ้านมือ2')

#7-eleven.json
with open('/content/drive/MyDrive/MIDterm/Midterm/7-eleven.json') as json_file:
  this_json_seven = json.loads(json_file.read())

#school.json
with open('/content/drive/MyDrive/MIDterm/Midterm/school.json') as json_file:
  this_jsonschool = json.loads(json_file.read())

# data บ้าน

## บ้านมือ 1

In [4]:
  H1 =H1[['id','latitude','longitude','number_of_rai','number_of_ngan','number_of_va','number_of_story','number_of_bedroom','number_of_bathroom','direction','furniture','usable_area','number_of_parking','sell_price']]

### แก้ missing

In [5]:
H1.isnull().sum()

id                      0
latitude                9
longitude               9
number_of_rai         754
number_of_ngan        754
number_of_va           92
number_of_story         4
number_of_bedroom      10
number_of_bathroom     10
direction              88
furniture              88
usable_area            36
number_of_parking      21
sell_price             21
dtype: int64

In [6]:
#fill NA with 0
H1 = H1.fillna(0)

In [7]:
# แก้ id ให้เป็นตัวเลข
#data['result'] = data['result'].map(lambda x: x.lstrip('+-').rstrip('aAbBcC'))
H1['id'] = H1['id'].apply(str).str.replace('project_', '')

In [8]:
H1.tail(5)

,id,latitude,longitude,number_of_rai,number_of_ngan,number_of_va,number_of_story,number_of_bedroom,number_of_bathroom,direction,furniture,usable_area,number_of_parking,sell_price
749,62204519412ede001495e6cb,102.875722,16.484111,0.0,0.0,0.0,1.0,3.0,2.0,0.0,0.0,125.0,2.0,2290000.0
750,62201e6fa441d30014e1f350,102.850706,16.410972,0.0,0.0,0.0,1.0,3.0,2.0,0.0,0.0,70.0,2.0,2590000.0
751,5fa0e476a3326800191e29ea,102.614819,15.828671,0.0,0.0,0.0,1.0,3.0,2.0,0.0,0.0,120.0,2.0,1990000.0
752,5e9d6fa69f161600121b61b2,102.402141,15.808013,0.0,0.0,0.0,1.0,3.0,2.0,0.0,0.0,100.0,2.0,1990000.0
753,5ea938d968253d0012adc1e2,102.722853,16.425078,0.0,0.0,0.0,1.0,3.0,2.0,0.0,0.0,138.0,2.0,2490000.0

In [9]:
for i in H1.columns:
    print(i)

id
latitude
longitude
number_of_rai
number_of_ngan
number_of_va
number_of_story
number_of_bedroom
number_of_bathroom
direction
furniture
usable_area
number_of_parking
sell_price

## บ้านมือ 2

In [10]:
H2 =H2[['id','latitude','longitude','renovate','number_of_rai','number_of_ngan','number_of_va','number_of_story','number_of_bedroom','number_of_bathroom','direction','furniture','usable_area','number_of_parking','sell_price']]

###  แก้ missing

In [11]:
H2.isnull().sum()

id                      0
latitude               22
longitude              22
renovate              211
number_of_rai           0
number_of_ngan          0
number_of_va            0
number_of_story       549
number_of_bedroom      27
number_of_bathroom      0
direction               0
furniture               0
usable_area           920
number_of_parking     215
sell_price              1
dtype: int64

In [12]:
# แก้ missing ด้วย fill NA with 0
H2.fillna(0)

,id,latitude,longitude,renovate,number_of_rai,number_of_ngan,number_of_va,number_of_story,number_of_bedroom,number_of_bathroom,direction,furniture,usable_area,number_of_parking,sell_price
0,1.0,16.139321,102.631587,no,0.0,1.0,45.0,2.0,2.0,2.0,ไม่ระบุ,ไม่มี,244.00,2.0,390000.0
1,4.0,16.676156,102.917998,no,0.0,0.0,88.0,1.0,1.0,1.0,ไม่ระบุ,ไม่มี,164.00,3.0,820000.0
2,16.0,16.129358,102.530670,no,1.0,0.0,8.0,1.0,11.0,11.0,ไม่ระบุ,ไม่ระบุ,489.00,9.0,3260000.0
3,18.0,16.459052,102.806404,no,0.0,0.0,61.6,2.0,3.0,3.0,ไม่ระบุ,ไม่ระบุ,203.00,2.0,5000000.0
4,19.0,16.450000,102.800680,no,0.0,0.0,72.3,2.0,3.0,2.0,ไม่ระบุ,ไม่ระบุ,164.00,2.0,3500000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1651,20460P,16.480110,102.574033,no,0.0,0.0,73.0,1.0,2.0,1.0,ไม่ระบุ,ไม่ระบุ,108.76,0.0,437400.0
1652,20462P,16.528551,102.411762,no,0.0,0.0,84.0,1.0,2.0,1.0,ไม่ระบุ,ไม่ระบุ,119.00,0.0,714600.0
1653,20463P,15.867444,102.482085,no,0.0,1.0,45.0,2.0,1.0,1.0,ไม่ระบุ,ไม่ระบุ,188.50,0.0,451000.0
1654,20466P,16.636912,102.105343,no,0.0,1.0,59.0,2.0,1.0,1.0,ไม่ระบุ,ไม่ระบุ,207.00,0.0,910000.0
1655,30358P,16.053072,102.805940,no,0.0,1.0,33.0,2.0,2.0,1.0,ไม่ระบุ,ไม่ระบุ,213.00,0.0,650000.0

###  แก้  value ให้ตรงกัน

In [13]:
# ลบ P จาก id
H2['id'] = H2['id'].apply(str).str.replace('P', '')

In [14]:
# ลบ ของเมือง, ทางทิศ, ทิศ จาก ตะวันออกเฉียงใต้ของเมือง, ทางทิศตะวันออก, ทิศตะวันออก, ทิศเหนือ
H2['direction'] = H2['direction'].apply(str).str.replace('ของเมือง', '')
H2['direction'] = H2['direction'].apply(str).str.replace('ทางทิศ', '')
H2['direction'] = H2['direction'].apply(str).str.replace('ทิศ', '')

### one-hot-encoder

In [15]:
#one-hot-encoder 
# ทำ columns 'renovate','direction','furniture' เป็น dummy
H2= pd.get_dummies(H2,  columns=['renovate','direction','furniture'])

## รวมตาราง

In [16]:
data_house = pd.concat([H1, H2], keys=['1', '2']).reset_index() # รวมตารางบ้านมือ1กับมือ2 แนวแกนy keys คือสร้างคอลัมน์ second_hand เพื่อระบุว่า Row แต่ละอันมาจากบ้านมือ1หรือมือ2
data_house.rename(index=str, columns={'level_0': 'second_hand'}, inplace=True)  #rename เป็น second_hand
data_house.drop(['level_1'], axis=1, inplace=True) # drop col index

In [17]:
data_house = data_house.fillna(0)

In [18]:
data_house

,second_hand,id,latitude,longitude,number_of_rai,number_of_ngan,number_of_va,number_of_story,number_of_bedroom,number_of_bathroom,...,direction_ตะวันออก,direction_ตะวันออกเฉียงเหนือ,direction_ตะวันออกเฉียงใต้,direction_เหนือ,direction_ใต้,direction_ไม่ระบุ,furniture_ตกแต่งครบ,furniture_มีบางส่วน,furniture_ไม่มี,furniture_ไม่ระบุ
0,1,314.0,16.392304,102.827926,0.0,0.0,50.00,2.0,4.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,315.0,16.392304,102.827926,0.0,0.0,40.00,2.0,4.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,316.0,16.392304,102.827926,0.0,0.0,77.25,2.0,4.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,317.0,16.392304,102.827926,0.0,0.0,81.25,2.0,6.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,318.0,16.392304,102.827926,0.0,0.0,55.00,2.0,4.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2405,2,20460,16.480110,102.574033,0.0,0.0,73.00,1.0,2.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
2406,2,20462,16.528551,102.411762,0.0,0.0,84.00,1.0,2.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
2407,2,20463,15.867444,102.482085,0.0,1.0,45.00,2.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
2408,2,20466,16.636912,102.105343,0.0,1.0,59.00,2.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
2409,2,30358,16.053072,102.805940,0.0,1.0,33.00,2.0,2.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0

# data เซเว่น

In [40]:
svid = pd.DataFrame.from_dict(seven_id,orient='index') #เรียกข้อมูลเซเว่นให้มาอยู่ในรูปของดาต้าเฟรม

In [41]:
svid_reset = svid.reset_index() # reset index เพื่อให้คอลลัมน์แรกเป็นจำนวนเรคคอร์ด

In [42]:
svid_changename = svid_reset.rename(columns={'index':'seven_id'})

In [43]:
svid_changename #เปลี่ยนชื่อหัวตารางจาก index เป็น seven id

,seven_id,0,1,2,3,4,5,6,7,8,...,10,11,12,13,14,15,16,17,18,19
0,6,"{'lat': 16.0603149, 'lng': 102.7264856}","{'lat': 16.0564741, 'lng': 102.7268436}","{'lat': 16.0595413, 'lng': 102.7294307}","{'lat': 16.0751998, 'lng': 102.7356017}","{'lat': 16.070648, 'lng': 102.7344055}","{'lat': 16.0582995, 'lng': 102.7360953}","{'lat': 16.0573901, 'lng': 102.7192322}",None,None,...,None,None,None,None,None,None,None,None,None,None
1,11,"{'lat': 15.809535, 'lng': 102.6069684}","{'lat': 15.8193062, 'lng': 102.6012589}","{'lat': 15.8125848, 'lng': 102.6009202}","{'lat': 15.8102763, 'lng': 102.5985417}","{'lat': 15.8095537, 'lng': 102.5879272}","{'lat': 15.7970035, 'lng': 102.6075296}",None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,16,"{'lat': 16.1340329, 'lng': 102.5331697}","{'lat': 16.1294298, 'lng': 102.540669}",None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,17,"{'lat': 16.4052438, 'lng': 102.7823961}","{'lat': 16.3898169, 'lng': 102.8053144}","{'lat': 16.4221806, 'lng': 102.8047853}","{'lat': 16.4083692, 'lng': 102.7948258}","{'lat': 16.4053255, 'lng': 102.7746538}",None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,18,"{'lat': 16.4506978, 'lng': 102.7955315}","{'lat': 16.445794, 'lng': 102.8242206}","{'lat': 16.4410003, 'lng': 102.8216208}","{'lat': 16.4600404, 'lng': 102.8247777}","{'lat': 16.4421359, 'lng': 102.8198991}","{'lat': 16.4512089, 'lng': 102.795423}","{'lat': 16.4423, 'lng': 102.808299}","{'lat': 16.464662, 'lng': 102.8251211}","{'lat': 16.4656851, 'lng': 102.8249423}",...,"{'lat': 16.4622829, 'lng': 102.8270049}","{'lat': 16.4781927, 'lng': 102.8199828}","{'lat': 16.4777682, 'lng': 102.8235898}","{'lat': 16.4786388, 'lng': 102.814293}","{'lat': 16.4740341, 'lng': 102.8262668}",None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2694,30332P,"{'lat': 16.4053255, 'lng': 102.7746538}",None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2695,30334P,"{'lat': 16.4685967, 'lng': 102.8296805}","{'lat': 16.4866589, 'lng': 102.8158198}","{'lat': 16.4642871, 'lng': 102.8283136}","{'lat': 16.4794698, 'lng': 102.8070934}","{'lat': 16.4908451, 'lng': 102.8321155}","{'lat': 16.4884547, 'lng': 102.8248678}","{'lat': 16.4781927, 'lng': 102.8199828}","{'lat': 16.4786388, 'lng': 102.814293}","{'lat': 16.4821349, 'lng': 102.8194465}",...,"{'lat': 16.4627525, 'lng': 102.8277724}","{'lat': 16.4671081, 'lng': 102.8297358}","{'lat': 16.4863874, 'lng': 102.8164751}","{'lat': 16.464662, 'lng': 102.8251211}","{'lat': 16.4802561, 'lng': 102.8118345}","{'lat': 16.4622829, 'lng': 102.8270049}","{'lat': 16.4644021, 'lng': 102.8275917}","{'lat': 16.4777682, 'lng': 102.8235898}","{'lat': 16.4800345, 'lng': 102.817991}","{'lat': 16.4834067, 'lng': 102.832897}"
2696,30359P,"{'lat': 16.4506978, 'lng': 102.7955315}","{'lat': 16.4342316, 'lng': 102.8145643}","{'lat': 16.4362708, 'lng': 102.7997081}","{'lat': 16.4379979, 'lng': 102.7868055}","{'lat': 16.4421359, 'lng': 102.8198991}","{'lat': 16.4423, 'lng': 102.808299}","{'lat': 16.4212509, 'lng': 102.8156687}","{'lat': 16.4221806, 'lng': 102.8047853}","{'lat': 16.4463944, 'lng': 102.8200097}",...,"{'lat': 16.4215105, 'lng': 102.8133801}","{'lat': 16.4210166, 'lng': 102.8099416}","{'lat': 16.4213278, 'lng': 102.8185574}",None,None,None,None,None,None,None
2697,30360P,"{'lat': 16.4685967, 'lng': 102.8296805}","{'lat': 16.4866589, 'lng': 102.8158198}","{'lat': 16.4794698, 'lng': 102.8070934}","{'lat': 16.4908451, 'lng': 102.8321155}","{'lat': 16.4884547, 'lng': 102.8248678}","{'lat': 16.4781927, 'lng': 102.8199828}","{'lat': 16.4786388, 'lng': 102.814293}","{'lat': 16.4821349, 'lng': 102.8194465}","{'lat': 16.4671081, 'lng': 102.8297358}",...,"{'lat': 16.4802561, 'lng': 102.8118345}","{'lat': 16.4777682, 'lng': 102.8235898}","{'lat': 16.4800345, 'lng': 102.817991}","{'lat': 16.4834067, 'lng': 102.832897}","{'lat': 16.4682266, 'lng': 102.832597}","{'lat': 16.475489, 'lng': 102.827964}","{'lat': 16.4800801, 'lng': 102.8157501}","{'lat': 16.4656851, 'lng': 102.8249423}","{'lat': 16.4820495, 'lng': 102.8194982}","{'lat': 16.4740341, 'lng': 102.8262668}"
2698,30362P,"{'lat': 13.7374346, 'lng': 100.6267268}","{'lat': 13.7356967, 'lng': 100.6189741}","{'lat': 13.754974, 'lng': 100.613215}","{'lat': 13.7607113, 'lng': 100.6292369}","{'lat': 13.7568211, 'lng': 100.6445227}","{'lat': 13.7522027, 'lng': 100.6193615}","{'lat': 13.7366139, 'lng': 100.6313462}","{'lat': 13.7367845, 'lng': 100.6241795}","{'lat': 13.7563129, 'lng': 100.6131975}",...,"{'lat': 13.7519672, 'lng': 100.6357339}","{'lat': 13.7420702, 'lng': 100.6326465}","{'lat': 13.7623488, 'lng': 100.644072}","{'lat': 13.7528219, 'lng': 100.6206503}","{'lat': 13.7609686, 'lng': 100.631794}","{'lat': 13.74039, 'lng': 100.6252888}","{'lat': 13.74231, 'lng': 100.6247883}","{'lat': 13.760205299999999, 'lng': 100.6220398}","{'lat': 13.7362923, 'lng': 100.6169101}","{'lat': 13.7520004, 'lng': 100.6348106}"

In [44]:
svid_changename['seven_id'].isna().sum()

0

In [45]:
svid_changename.astype(str)

,seven_id,0,1,2,3,4,5,6,7,8,...,10,11,12,13,14,15,16,17,18,19
0,6,"{'lat': 16.0603149, 'lng': 102.7264856}","{'lat': 16.0564741, 'lng': 102.7268436}","{'lat': 16.0595413, 'lng': 102.7294307}","{'lat': 16.0751998, 'lng': 102.7356017}","{'lat': 16.070648, 'lng': 102.7344055}","{'lat': 16.0582995, 'lng': 102.7360953}","{'lat': 16.0573901, 'lng': 102.7192322}",None,None,...,None,None,None,None,None,None,None,None,None,None
1,11,"{'lat': 15.809535, 'lng': 102.6069684}","{'lat': 15.8193062, 'lng': 102.6012589}","{'lat': 15.8125848, 'lng': 102.6009202}","{'lat': 15.8102763, 'lng': 102.5985417}","{'lat': 15.8095537, 'lng': 102.5879272}","{'lat': 15.7970035, 'lng': 102.6075296}",None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,16,"{'lat': 16.1340329, 'lng': 102.5331697}","{'lat': 16.1294298, 'lng': 102.540669}",None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,17,"{'lat': 16.4052438, 'lng': 102.7823961}","{'lat': 16.3898169, 'lng': 102.8053144}","{'lat': 16.4221806, 'lng': 102.8047853}","{'lat': 16.4083692, 'lng': 102.7948258}","{'lat': 16.4053255, 'lng': 102.7746538}",None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,18,"{'lat': 16.4506978, 'lng': 102.7955315}","{'lat': 16.445794, 'lng': 102.8242206}","{'lat': 16.4410003, 'lng': 102.8216208}","{'lat': 16.4600404, 'lng': 102.8247777}","{'lat': 16.4421359, 'lng': 102.8198991}","{'lat': 16.4512089, 'lng': 102.795423}","{'lat': 16.4423, 'lng': 102.808299}","{'lat': 16.464662, 'lng': 102.8251211}","{'lat': 16.4656851, 'lng': 102.8249423}",...,"{'lat': 16.4622829, 'lng': 102.8270049}","{'lat': 16.4781927, 'lng': 102.8199828}","{'lat': 16.4777682, 'lng': 102.8235898}","{'lat': 16.4786388, 'lng': 102.814293}","{'lat': 16.4740341, 'lng': 102.8262668}",None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2694,30332P,"{'lat': 16.4053255, 'lng': 102.7746538}",None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2695,30334P,"{'lat': 16.4685967, 'lng': 102.8296805}","{'lat': 16.4866589, 'lng': 102.8158198}","{'lat': 16.4642871, 'lng': 102.8283136}","{'lat': 16.4794698, 'lng': 102.8070934}","{'lat': 16.4908451, 'lng': 102.8321155}","{'lat': 16.4884547, 'lng': 102.8248678}","{'lat': 16.4781927, 'lng': 102.8199828}","{'lat': 16.4786388, 'lng': 102.814293}","{'lat': 16.4821349, 'lng': 102.8194465}",...,"{'lat': 16.4627525, 'lng': 102.8277724}","{'lat': 16.4671081, 'lng': 102.8297358}","{'lat': 16.4863874, 'lng': 102.8164751}","{'lat': 16.464662, 'lng': 102.8251211}","{'lat': 16.4802561, 'lng': 102.8118345}","{'lat': 16.4622829, 'lng': 102.8270049}","{'lat': 16.4644021, 'lng': 102.8275917}","{'lat': 16.4777682, 'lng': 102.8235898}","{'lat': 16.4800345, 'lng': 102.817991}","{'lat': 16.4834067, 'lng': 102.832897}"
2696,30359P,"{'lat': 16.4506978, 'lng': 102.7955315}","{'lat': 16.4342316, 'lng': 102.8145643}","{'lat': 16.4362708, 'lng': 102.7997081}","{'lat': 16.4379979, 'lng': 102.7868055}","{'lat': 16.4421359, 'lng': 102.8198991}","{'lat': 16.4423, 'lng': 102.808299}","{'lat': 16.4212509, 'lng': 102.8156687}","{'lat': 16.4221806, 'lng': 102.8047853}","{'lat': 16.4463944, 'lng': 102.8200097}",...,"{'lat': 16.4215105, 'lng': 102.8133801}","{'lat': 16.4210166, 'lng': 102.8099416}","{'lat': 16.4213278, 'lng': 102.8185574}",None,None,None,None,None,None,None
2697,30360P,"{'lat': 16.4685967, 'lng': 102.8296805}","{'lat': 16.4866589, 'lng': 102.8158198}","{'lat': 16.4794698, 'lng': 102.8070934}","{'lat': 16.4908451, 'lng': 102.8321155}","{'lat': 16.4884547, 'lng': 102.8248678}","{'lat': 16.4781927, 'lng': 102.8199828}","{'lat': 16.4786388, 'lng': 102.814293}","{'lat': 16.4821349, 'lng': 102.8194465}","{'lat': 16.4671081, 'lng': 102.8297358}",...,"{'lat': 16.4802561, 'lng': 102.8118345}","{'lat': 16.4777682, 'lng': 102.8235898}","{'lat': 16.4800345, 'lng': 102.817991}","{'lat': 16.4834067, 'lng': 102.832897}","{'lat': 16.4682266, 'lng': 102.832597}","{'lat': 16.475489, 'lng': 102.827964}","{'lat': 16.4800801, 'lng': 102.8157501}","{'lat': 16.4656851, 'lng': 102.8249423}","{'lat': 16.4820495, 'lng': 102.8194982}","{'lat': 16.4740341, 'lng': 102.8262668}"
2698,30362P,"{'lat': 13.7374346, 'lng': 100.6267268}","{'lat': 13.7356967, 'lng': 100.6189741}","{'lat': 13.754974, 'lng': 100.613215}","{'lat': 13.7607113, 'lng': 100.6292369}","{'lat': 13.7568211, 'lng': 100.6445227}","{'lat': 13.7522027, 'lng': 100.6193615}","{'lat': 13.7366139, 'lng': 100.6313462}","{'lat': 13.7367845, 'lng': 100.6241795}","{'lat': 13.7563129, 'lng': 100.6131975}",...,"{'lat': 13.7519672, 'lng': 100.6357339}","{'lat': 13.7420702, 'lng': 100.6326465}","{'lat': 13.7623488, 'lng': 100.644072}","{'lat': 13.7528219, 'lng': 100.6206503}","{'lat': 13.7609686, 'lng': 100.631794}","{'lat': 13.74039, 'lng': 100.6252888}","{'lat': 13.74231, 'lng': 100.6247883}","{'lat': 13.760205299999999, 'lng': 100.6220398}","{'lat': 13.7362923, 'lng': 100.6169101}","{'lat': 13.7520004, 'lng': 100.6348106}"

ถ้าต้องเปลี่ยนไอดีให้อยู่ในลักษณะเลขที่รันได้ ก็ต้องแก้ regular expression

In [46]:
svid_changetype = svid_changename['seven_id'].str.replace("P","")

In [47]:
svid_changetype

0           6
1          11
2          16
3          17
4          18
        ...
2694    30332
2695    30334
2696    30359
2697    30360
2698    30362
Name: seven_id, Length: 2699, dtype: object

In [48]:
seven = pd.merge(svid_changetype,svid_changename)

In [50]:
seven

,seven_id,0,1,2,3,4,5,6,7,8,...,10,11,12,13,14,15,16,17,18,19
0,6,"{'lat': 16.0603149, 'lng': 102.7264856}","{'lat': 16.0564741, 'lng': 102.7268436}","{'lat': 16.0595413, 'lng': 102.7294307}","{'lat': 16.0751998, 'lng': 102.7356017}","{'lat': 16.070648, 'lng': 102.7344055}","{'lat': 16.0582995, 'lng': 102.7360953}","{'lat': 16.0573901, 'lng': 102.7192322}",None,None,...,None,None,None,None,None,None,None,None,None,None
1,11,"{'lat': 15.809535, 'lng': 102.6069684}","{'lat': 15.8193062, 'lng': 102.6012589}","{'lat': 15.8125848, 'lng': 102.6009202}","{'lat': 15.8102763, 'lng': 102.5985417}","{'lat': 15.8095537, 'lng': 102.5879272}","{'lat': 15.7970035, 'lng': 102.6075296}",None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,16,"{'lat': 16.1340329, 'lng': 102.5331697}","{'lat': 16.1294298, 'lng': 102.540669}",None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,17,"{'lat': 16.4052438, 'lng': 102.7823961}","{'lat': 16.3898169, 'lng': 102.8053144}","{'lat': 16.4221806, 'lng': 102.8047853}","{'lat': 16.4083692, 'lng': 102.7948258}","{'lat': 16.4053255, 'lng': 102.7746538}",None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,18,"{'lat': 16.4506978, 'lng': 102.7955315}","{'lat': 16.445794, 'lng': 102.8242206}","{'lat': 16.4410003, 'lng': 102.8216208}","{'lat': 16.4600404, 'lng': 102.8247777}","{'lat': 16.4421359, 'lng': 102.8198991}","{'lat': 16.4512089, 'lng': 102.795423}","{'lat': 16.4423, 'lng': 102.808299}","{'lat': 16.464662, 'lng': 102.8251211}","{'lat': 16.4656851, 'lng': 102.8249423}",...,"{'lat': 16.4622829, 'lng': 102.8270049}","{'lat': 16.4781927, 'lng': 102.8199828}","{'lat': 16.4777682, 'lng': 102.8235898}","{'lat': 16.4786388, 'lng': 102.814293}","{'lat': 16.4740341, 'lng': 102.8262668}",None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1840,24178,"{'lat': 16.4481776, 'lng': 102.7736213}","{'lat': 16.4496233, 'lng': 102.7578029}",None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1841,24179,"{'lat': 16.4908451, 'lng': 102.8321155}","{'lat': 16.525684, 'lng': 102.8320249}","{'lat': 16.4977439, 'lng': 102.8364985}","{'lat': 16.4884547, 'lng': 102.8248678}",None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1842,24180,"{'lat': 16.4229267, 'lng': 102.8712313}","{'lat': 16.4251666, 'lng': 102.8510168}","{'lat': 16.4365317, 'lng': 102.8491264}","{'lat': 16.4285371, 'lng': 102.8496085}","{'lat': 16.4198307, 'lng': 102.8496996}","{'lat': 16.434367, 'lng': 102.8609234}","{'lat': 16.4236724, 'lng': 102.8434961}","{'lat': 16.4289683, 'lng': 102.8471979}","{'lat': 16.4288908, 'lng': 102.8559018}",...,"{'lat': 16.4288377, 'lng': 102.8542497}","{'lat': 16.4276748, 'lng': 102.8632914}","{'lat': 16.4320627, 'lng': 102.8688061}","{'lat': 16.4289572, 'lng': 102.8477644}","{'lat': 16.448722, 'lng': 102.841044}","{'lat': 16.4321944, 'lng': 102.8410091}","{'lat': 16.4255945, 'lng': 102.8397278}","{'lat': 16.4533508, 'lng': 102.845216}","{'lat': 16.4187106, 'lng': 102.8405019}",None
1843,24181,"{'lat': 16.4510959, 'lng': 102.6397602}",None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1844,24182,"{'lat': 16.434367, 'lng': 102.8609234}","{'lat': 16.4288908, 'lng': 102.8559018}","{'lat': 16.4288377, 'lng': 102.8542497}","{'lat': 16.4320627, 'lng': 102.8688061}","{'lat': 16.4608219, 'lng': 102.85698}","{'lat': 16.4282576, 'lng': 102.8858346}","{'lat': 16.4276489, 'lng': 102.867949}","{'lat': 16.4276748, 'lng': 102.8632914}",None,...,None,None,None,None,None,None,None,None,None,None

In [57]:
for id in seven['seven_id']:
 print(id)

6
11
16
17
18
19
20
21
22
23
24
25
26
28
29
30
31
32
33
35
36
40
491
493
495
497
498
499
508
509
510
511
512
513
515
517
518
519
520
521
522
523
527
528
531
532
533
534
536
538
540
541
542
543
545
547
548
549
550
551
552
553
554
555
557
558
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
629
631
632
633
634
635
636
637
638
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
717
720
758
759
760
761
1024
1024
1033
1033
1057
1057
1058
1058
1062
1063
1063
1064
1065
1065
1066
1066
1067
1068
1068
1070
1070
1071
1071
1074
1074
1084
1084
1088
1088
1089
1089
1091
1094
1096
1101
1103
1105
1106
1107
1110
1111
1113
1120
1122
1123
1126
1127
1128
1130
1131
1132
1133
1135
1136
1137
1138
1139
1143
1144
1145
1148
1149
1151
1155
1157
1161
1163
1174
1175
1177
1178
1179
1182
1184
1192
1195
1196
1198
1208
1210
1213
1214
1221
1224
1227
1233
1239
1240
1241
1242
1243
1246
1247
1248
1249
1250
1252
1254
1256
1261
1365
1368
1370
1394
1395
1396
1402
1405
1407
1424
1443
1444
1445
1547
1554
1557
1599
1600
1601
1608
1609
1614
1616
1617
1618
1619
1620
1640
1641
1643
1649
1650
1655
1657
1662
1663
1682
1685
1686
1691
1706
1707
1709
1710
1711
1714
1715
1716
1717
1718
1722
1723
1725
1726
1727
1729
1731
1732
1733
1734
1759
1760
1761
1764
1767
1828
1837
1838
1840
1860
1861
1863
1866
1882
1885
1888
1890
1892
1893
1894
1895
1897
1901
1902
1907
1913
1915
1918
1921
1925
1926
1927
1933
1935
1936
1944
1945
1953
1954
1955
1959
1960
1961
1962
1964
1965
1966
1978
1979
1983
1985
1990
1991
1996
2004
2007
2010
2011
2017
2018
2025
2029
2029
2031
2032
2032
2033
2033
2039
2039
2040
2040
2045
2045
2049
2050
2068
2070
2071
2075
2076
2076
2078
2078
2079
2079
2082
2082
2083
2084
2084
2136
2138
2139
2142
2143
2151
2152
2153
2160
2165
2167
2168
2169
2172
2173
2174
2176
2180
2185
2186
2189
2193
2194
2199
2200
2201
2203
2204
2206
2207
2212
2215
2218
2219
2221
2231
2233
2234
2235
2237
2238
2239
2241
2242
2243
2244
2245
2246
2247
2248
2249
2250
2251
2252
2253
2254
2256
2257
2258
2259
2260
2262
2263
2264
2265
2266
2267
2268
2273
2275
2279
2283
2284
2285
2286
2290
2291
2294
2295
2297
2298
2299
2300
2301
2302
2304
2306
2312
2314
2317
2324
2332
2492
2493
2499
2502
2510
2826
2828
2829
2835
2837
2839
2845
2886
2966
3096
3097
3184
3191
3193
3194
3195
3196
3201
3207
3208
3210
3216
3218
3219
3225
3226
3227
3231
3233
3235
3238
3239
3240
3241
3243
3245
3250
3260
3265
3267
3269
3272
3275
3281
3282
3286
3289
3291
3293
3296
3301
3302
3305
3308
3309
3311
3315
3317
3318
3319
3320
3338
3340
3341
3357
3392
3394
3404
3405
3407
3409
3410
3411
3412
3417
3418
3419
3420
3421
3428
3441
3445
3446
3447
3449
3450
3458
3464
3466
3470
3471
3477
3478
3480
3481
3482
3483
3484
3485
3486
3487
3488
3489
3490
3491
3492
3497
3504
3506
3514
3515
3518
3521
3528
3534
3540
3543
3547
3552
3553
3554
3559
3560
3577
3580
3589
3590
3591
3593
3595
3596
3597
3598
3599
3601
3606
3607
3616
3617
3618
3622
3623
3625
3627
3660
3661
3670
3674
3691
3704
3705
3707
3711
3713
3714
3719
3721
3722
3723
3726
3730
3819
3837
3845
3867
3870
3872
3873
3897
3898
3901
3905
3971
3981
3982
3983
3988
3989
3991
4843
4942
5129
5130
5133
5149
5193
5195
5939
5940
5941
5942
5943
5944
5945
5946
5947
5948
5949
5950
5953
5954
5955
5956
5957
5959
5960
5961
5962
5963
5964
5965
5966
5967
5968
5969
5970
5972
5973
5974
5975
5976
5977
5978
5979
5980
5981
5983
5984
5985
5986
5988
5989
5990
5991
5992
5993
5994
5995
5997
5998
6000
6001
6003
6004
6005
6006
6007
6008
6009
6010
6011
6015
6016
6017
6018
6020
6021
6022
6023
6024
6025
6026
6028
6030
6031
6032
6034
6035
6036
6037
6038
6039
6040
6041
6042
6043
6044
6045
6046
6047
6049
6050
6051
6052
6053
6054
6055
6056
6057
6058
6059
6060
6061
6062
6063
6065
6066
6067
6068
6069
6070
6072
6073
6075
6076
6077
6078
6079
6080
6081
6082
6083
6086
6087
6088
6090
6091
6092
6093
6094
6095
6096
6097
6098
6099
6100
6102
6103
6104
6105
6106
6107
6109
6111
6113
6117
6118
6120
6121
6123
6124
6126
6128
6129
6130
6131
6132
6133
6134
6135
6139
6140
6144
6147
6148
6150
6152
6156
6157
6158
6160
6161
6164
6166
6167
6168
6169
6173
6176
6178
6242
6253
6254
6256
6258
6269
6272
6274
6278
6283
6285
6291
6292
6296
6298
6313
6319
6323
6326
6333
6337
6344
6349
6350
6351
6352
6354
6355
6357
6359
6360
6361
6362
6364
6365
6370
6372
6374
6375
6376
6377
6481
6636
6639
6645
6648
6686
6732
6733
6758
6763
6913
6918
6927
6946
7036
7037
7042
7043
7044
7045
7063
7079
7083
7101
7137
7138
7139
7146
7147
7154
7176
7177
7179
7212
7215
7254
7260
7304
7307
7308
7349
7350
7351
7420
7422
7424
7439
7478
7542
7543
7545
7601
7605
7625
7626
7668
7669
7703
7704
7705
7706
7707
7708
7709
7710
7711
7713
7721
7722
7723
7725
7732
7733
7739
7752
7760
7764
7765
7773
7779
7794
7840
7841
7848
7850
7851
7857
7860
7865
7868
7889
7894
7896
7897
7899
7938
7955
7956
8026
8027
8046
8054
8055
8059
8060
8061
8062
8085
8089
8101
8120
8132
8133
8193
8226
8247
8258
8259
8285
8295
8300
8321
8334
8335
8340
8356
8357
8359
8361
8362
8378
8381
8383
8385
8386
8387
8388
8394
8404
8405
8407
8408
8426
8438
8439
8487
8492
8494
8499
8501
8514
8517
8526
8529
8532
8536
8540
8541
8545
8555
8557
8560
8564
8565
8602
8621
8648
8680
8682
8702
8725
8751
8758
8768
8781
8835
8898
8900
8908
8918
8936
8939
8950
8957
8959
8968
8999
9057
9066
9082
9141
9152
9172
9181
9197
9203
9215
9259
9332
9339
9368
9370
9379
9383
9415
9579
9586
9589
9591
9595
9598
9600
9613
9645
9650
9669
9674
9675
9687
9689
9690
9694
9698
9711
9756
9765
9773
10314
10486
10502
10502
10511
10511
10515
10735
10870
10874
10883
10886
10915
11144
11186
11192
11212
11249
11264
11273
11550
11552
11559
11560
11569
11725
11868
11878
11886
11915
11917
11955
11978
12098
12099
12104
12106
12113
12134
12139
12215
12220
12223
12250
12323
12403
12423
12520
12521
12551
12560
12582
12603
12607
12626
12657
12676
12680
12710
12749
12759
12762
12821
12839
12942
12943
12957
12984
12990
13031
13045
13074
13110
13111
13113
13116
13118
13121
13124
13368
13390
13391
13403
13411
13420
13430
13669
13702
13780
13813
13815
13830
13852
13867
13889
13934
13978
13983
13991
14017
14214
14263
14466
14472
14488
14501
14539
14567
14569
14570
14574
14594
14610
14622
14639
14668
14671
14672
14814
14835
14839
14840
14846
15089
15102
15110
15111
15114
15294
15351
15356
15358
15362
15364
15378
15412
15429
16072
16658
16763
16824
16841
16921
16922
16967
16971
16997
17021
17024
17029
17090
17093
17095
17112
17114
17125
17127
17128
17131
17143
17150
17177
17192
17282
17296
17311
17318
17325
17337
17384
17405
17406
17407
17408
17411
17416
17418
17420
17422
17423
17426
17428
17434
17445
17461
17478
17479
17483
17487
17488
17503
17504
17505
17506
17507
17508
17510
17511
17512
17514
17515
17516
17517
17518
17521
17525
17526
17528
17529
17530
17531
17535
17536
17538
17540
17547
17548
17553
17555
17556
17561
17592
17605
17610
17615
17616
17618
17620
17622
17623
17625
17627
17629
17632
17636
17638
17639
17642
17644
17645
17650
17651
17653
17659
17663
17665
17669
17671
17672
17673
17674
17678
17679
17683
17685
17686
17690
17692
17695
17702
17704
17705
17706
17708
17709
17712
17716
17722
17723
17726
17727
17728
17729
17730
17733
17736
17737
17739
17742
17746
17747
17748
17750
17751
17752
17753
17754
17755
17757
17759
17760
17762
17774
17776
17777
17778
17779
17781
17782
17783
17784
17785
17787
17789
17797
17798
17802
17806
17809
17813
17816
17819
17820
17824
17828
17833
17845
17851
17852
17863
17869
17874
17878
17880
17881
17883
17884
17885
17886
17887
17917
17919
17922
17923
17954
17959
18027
18058
18061
18066
18069
18071
18072
18073
18074
18075
18077
18078
18080
18084
18085
18090
18091
18092
18095
18097
18099
18101
18105
18106
18107
18108
18110
18111
18112
18113
18114
18115
18116
18117
18118
18126
18128
18129
18130
18132
18135
18137
18141
18142
18144
18155
18156
18163
18169
18171
18182
18183
18185
18194
18211
18305
18332
18335
18342
18344
18345
18354
18355
18361
18362
18364
18366
18368
18376
18377
18378
18379
18380
18381
18384
18385
18388
18390
18398
18416
18417
18419
18422
18423
18424
18425
18426
18429
18430
18432
18436
18437
18438
18441
18454
18459
18464
18466
18467
18490
18505
18512
18515
18517
18533
18536
18538
18542
18544
18547
18550
18551
18552
18555
18556
18558
18564
18565
18566
18568
18569
18570
18571
18576
18579
18580
18581
18585
18587
18590
18592
18593
18594
18595
18598
18601
18603
18604
18605
18606
18607
18610
18612
18616
18621
18622
18623
18624
18628
18629
18633
18700
18702
18706
18707
18709
18711
18718
18739
19104
19105
19107
19111
19156
19219
19259
19260
19264
19265
19309
19346
19353
19370
19371
19375
19383
19391
19393
19396
19402
19434
19437
19442
19445
19446
19450
19461
19462
19463
19467
19469
19470
19472
19473
19475
19477
19478
19479
19480
19481
19482
19483
19487
19488
19491
19492
19493
19494
19495
19496
19500
19501
19510
19512
19561
19711
19813
19828
19831
19832
19836
19976
19995
20137
20137
20146
20147
20147
20164
20164
20214
20214
20226
20254
20254
20320
20320
20367
20433
20632
20728
20753
20966
20967
20982
21222
21250
21258
21452
21601
21620
21658
21782
21910
22553
22576
22724
22768
22797
22835
23044
23056
23057
23058
23170
23171
23175
23176
23184
23245
23311
23312
23314
23318
23319
23324
23522
23525
23533
23603
23604
23695
23703
23760
23879
23887
23892
23893
23894
23898
24022
24026
24028
24029
24049
24176
24177
24178
24179
24180
24181
24182

In [66]:
# กำหนด lat lng ของบ้านก่อน
h_lat = data_house['latitude'].values[0]
h_long = data_house['longitude'].values[0]

In [73]:
thisseven = seven_id[str(id)]

KeyError: ignored

In [70]:
seven_dist=list() #listว่างเพราะจะทำมาเก็บ 
loc1 = [h_lat,h_long] #เอาไว้นอกลูป เพราะแผนที่บ้านเราไม่ได้วนในลูป
for seven in thisseven:
  loc2 = [seven['lat'],seven['lng']]
  dist = geopy.distance.geodesic(loc1,loc2).m
  print(dist) #ลองปริ้นออกมาดูว่ามีระยะห่างเท่าไหร่ 
  seven_dist.append(dist)

NameError: ignored

# data โรงเรียน

In [ ]:
scid = pd.DataFrame.from_dict(school_id,orient='index') #เรียกข้อมูลเซเว่นให้มาอยู่ในรูปของดาต้าเฟรม

In [ ]:
scid_reset = scid.reset_index() # reset index เพื่อให้คอลลัมน์แรกเป็นจำนวนเรคคอร์ด

In [ ]:
scid_changename = scid_reset.rename(columns={'index':'school_idno'})

In [ ]:
scid_changename

,school_idno,0,1,2,3,4,5,6,7,8,...,10,11,12,13,14,15,16,17,18,19
0,1,"{'lat': 16.1311875, 'lng': 102.6504375}","{'lat': 16.1350641, 'lng': 102.6290474}","{'lat': 16.1482073, 'lng': 102.6207588}","{'lat': 16.1279195, 'lng': 102.6138295}",None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,4,"{'lat': 16.6744524, 'lng': 102.9189581}","{'lat': 16.6934, 'lng': 102.926531}","{'lat': 16.682199, 'lng': 102.909279}","{'lat': 16.6876442, 'lng': 102.9062154}","{'lat': 16.6874816, 'lng': 102.9060958}","{'lat': 16.6959559, 'lng': 102.911213}",None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,6,"{'lat': 16.0717586, 'lng': 102.7338184}","{'lat': 16.0521945, 'lng': 102.7206649}","{'lat': 16.067152, 'lng': 102.7323694}","{'lat': 16.0559465, 'lng': 102.7283399}","{'lat': 16.055911, 'lng': 102.7437213}","{'lat': 16.0706613, 'lng': 102.7329711}","{'lat': 16.0546789, 'lng': 102.7140396}","{'lat': 16.0731008, 'lng': 102.7368188}","{'lat': 16.0715606, 'lng': 102.7342584}",...,"{'lat': 16.0728641, 'lng': 102.733482}","{'lat': 16.0657114, 'lng': 102.7287431}","{'lat': 16.072814, 'lng': 102.7399438}","{'lat': 16.0560054, 'lng': 102.7258071}","{'lat': 16.0436701, 'lng': 102.7384617}","{'lat': 16.0637541, 'lng': 102.7209871}","{'lat': 16.0687492, 'lng': 102.7357992}","{'lat': 16.0484948, 'lng': 102.7470726}","{'lat': 16.0690776, 'lng': 102.7309927}","{'lat': 16.0697929, 'lng': 102.7340638}"
3,7,"{'lat': 16.532009, 'lng': 102.5913487}","{'lat': 16.5469506, 'lng': 102.5946326}","{'lat': 16.5304647, 'lng': 102.5888848}","{'lat': 16.5487389, 'lng': 102.5952108}",None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,9,"{'lat': 15.8353887, 'lng': 102.6086849}","{'lat': 15.8540116, 'lng': 102.6297322}","{'lat': 15.8424063, 'lng': 102.6286231}","{'lat': 15.8353984, 'lng': 102.6087099}","{'lat': 15.835351, 'lng': 102.608366}","{'lat': 15.8353984, 'lng': 102.6087099}","{'lat': 15.8353984, 'lng': 102.6087099}","{'lat': 15.8352424, 'lng': 102.6083645}","{'lat': 15.8611798, 'lng': 102.6086101}",...,"{'lat': 15.8353984, 'lng': 102.6087099}",None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3538,30342P,"{'lat': 16.3623531, 'lng': 102.6050499}",None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3539,30358P,"{'lat': 16.048969, 'lng': 102.80816}","{'lat': 16.0542794, 'lng': 102.7920569}",None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3540,30359P,"{'lat': 16.4241996, 'lng': 102.8015855}","{'lat': 16.4512645, 'lng': 102.8162773}","{'lat': 16.4496923, 'lng': 102.8157815}","{'lat': 16.4317487, 'lng': 102.8111629}","{'lat': 16.4215141, 'lng': 102.8077957}","{'lat': 16.4500026, 'lng': 102.8184128}","{'lat': 16.4519146, 'lng': 102.8186759}","{'lat': 16.4357091, 'lng': 102.8052259}","{'lat': 16.4481546, 'lng': 102.7874673}",...,"{'lat': 16.4450546, 'lng': 102.8199799}","{'lat': 16.4382674, 'lng': 102.8206531}","{'lat': 16.443305, 'lng': 102.792247}","{'lat': 16.4354382, 'lng': 102.8058774}","{'lat': 16.445288, 'lng': 102.7923799}","{'lat': 16.4437682, 'lng': 102.7964501}","{'lat': 16.4338027, 'lng': 102.8142827}","{'lat': 16.4214039, 'lng': 102.8074362}","{'lat': 16.442887, 'lng': 102.822015}",None
3541,30360P,"{'lat': 16.4810561, 'lng': 102.8317087}","{'lat': 16.4687957, 'lng': 102.8010787}","{'lat': 16.4969229, 'lng': 102.8329121}","{'lat': 16.4716564, 'lng': 102.8263428}","{'lat': 16.4903517, 'lng': 102.8135589}","{'lat': 16.4799106, 'lng': 102.8178279}","{'lat': 16.47801, 'lng': 102.8203845}","{'lat': 16.4647151, 'lng': 102.8247331}","{'lat': 16.4806252, 'lng': 102.8199806}",...,"{'lat': 16.4691493, 'lng': 102.8302428}","{'lat': 16.4697047, 'lng': 102.8302438}",None,None,None,None,None,None,None,None
3542,30362P,"{'lat': 13.7408937, 'lng': 100.6273838}","{'lat': 13.7513243, 'lng': 100.6142789}","{'lat': 13.7549523, 'lng': 100.6144278}","{'lat': 13.7354049, 'lng': 100.6280963}","{'lat': 13.7342095, 'lng': 100.6314732}","{'lat': 13.752294, 'lng': 100.6231089}","{'lat': 13.7354754, 'lng': 100.6260138}","{'lat': 13.7476373, 'lng': 100.6430234}","{'lat': 13.7297371, 'lng': 100.6477181}",...,"{'lat': 13.7579566, 'lng': 100.6157759}","{'lat': 13.7305512, 'lng': 100.6179121}","{'lat': 13.7297647, 'lng': 100.6248821}","{'lat': 13.7635362, 'lng': 100.63987}","{'lat': 13.7493223, 'lng': 100.6507867}","{'lat': 13.7332085, 'lng': 100.6449628}","{'lat': 13.7645946, 'lng': 100.636494}","{'lat': 13.733252, 'lng': 100.6405966}","{'lat': 13.7536158, 'lng': 100.6347718}",None

In [ ]:
scid_changename['school_idno'].isna().sum()

0

In [ ]:
type(scid_changename)

pandas.core.frame.DataFrame

In [ ]:
scid_changename.astype(str)

,school_idno,0,1,2,3,4,5,6,7,8,...,10,11,12,13,14,15,16,17,18,19
0,1,"{'lat': 16.1311875, 'lng': 102.6504375}","{'lat': 16.1350641, 'lng': 102.6290474}","{'lat': 16.1482073, 'lng': 102.6207588}","{'lat': 16.1279195, 'lng': 102.6138295}",None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,4,"{'lat': 16.6744524, 'lng': 102.9189581}","{'lat': 16.6934, 'lng': 102.926531}","{'lat': 16.682199, 'lng': 102.909279}","{'lat': 16.6876442, 'lng': 102.9062154}","{'lat': 16.6874816, 'lng': 102.9060958}","{'lat': 16.6959559, 'lng': 102.911213}",None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,6,"{'lat': 16.0717586, 'lng': 102.7338184}","{'lat': 16.0521945, 'lng': 102.7206649}","{'lat': 16.067152, 'lng': 102.7323694}","{'lat': 16.0559465, 'lng': 102.7283399}","{'lat': 16.055911, 'lng': 102.7437213}","{'lat': 16.0706613, 'lng': 102.7329711}","{'lat': 16.0546789, 'lng': 102.7140396}","{'lat': 16.0731008, 'lng': 102.7368188}","{'lat': 16.0715606, 'lng': 102.7342584}",...,"{'lat': 16.0728641, 'lng': 102.733482}","{'lat': 16.0657114, 'lng': 102.7287431}","{'lat': 16.072814, 'lng': 102.7399438}","{'lat': 16.0560054, 'lng': 102.7258071}","{'lat': 16.0436701, 'lng': 102.7384617}","{'lat': 16.0637541, 'lng': 102.7209871}","{'lat': 16.0687492, 'lng': 102.7357992}","{'lat': 16.0484948, 'lng': 102.7470726}","{'lat': 16.0690776, 'lng': 102.7309927}","{'lat': 16.0697929, 'lng': 102.7340638}"
3,7,"{'lat': 16.532009, 'lng': 102.5913487}","{'lat': 16.5469506, 'lng': 102.5946326}","{'lat': 16.5304647, 'lng': 102.5888848}","{'lat': 16.5487389, 'lng': 102.5952108}",None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,9,"{'lat': 15.8353887, 'lng': 102.6086849}","{'lat': 15.8540116, 'lng': 102.6297322}","{'lat': 15.8424063, 'lng': 102.6286231}","{'lat': 15.8353984, 'lng': 102.6087099}","{'lat': 15.835351, 'lng': 102.608366}","{'lat': 15.8353984, 'lng': 102.6087099}","{'lat': 15.8353984, 'lng': 102.6087099}","{'lat': 15.8352424, 'lng': 102.6083645}","{'lat': 15.8611798, 'lng': 102.6086101}",...,"{'lat': 15.8353984, 'lng': 102.6087099}",None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3538,30342P,"{'lat': 16.3623531, 'lng': 102.6050499}",None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3539,30358P,"{'lat': 16.048969, 'lng': 102.80816}","{'lat': 16.0542794, 'lng': 102.7920569}",None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3540,30359P,"{'lat': 16.4241996, 'lng': 102.8015855}","{'lat': 16.4512645, 'lng': 102.8162773}","{'lat': 16.4496923, 'lng': 102.8157815}","{'lat': 16.4317487, 'lng': 102.8111629}","{'lat': 16.4215141, 'lng': 102.8077957}","{'lat': 16.4500026, 'lng': 102.8184128}","{'lat': 16.4519146, 'lng': 102.8186759}","{'lat': 16.4357091, 'lng': 102.8052259}","{'lat': 16.4481546, 'lng': 102.7874673}",...,"{'lat': 16.4450546, 'lng': 102.8199799}","{'lat': 16.4382674, 'lng': 102.8206531}","{'lat': 16.443305, 'lng': 102.792247}","{'lat': 16.4354382, 'lng': 102.8058774}","{'lat': 16.445288, 'lng': 102.7923799}","{'lat': 16.4437682, 'lng': 102.7964501}","{'lat': 16.4338027, 'lng': 102.8142827}","{'lat': 16.4214039, 'lng': 102.8074362}","{'lat': 16.442887, 'lng': 102.822015}",None
3541,30360P,"{'lat': 16.4810561, 'lng': 102.8317087}","{'lat': 16.4687957, 'lng': 102.8010787}","{'lat': 16.4969229, 'lng': 102.8329121}","{'lat': 16.4716564, 'lng': 102.8263428}","{'lat': 16.4903517, 'lng': 102.8135589}","{'lat': 16.4799106, 'lng': 102.8178279}","{'lat': 16.47801, 'lng': 102.8203845}","{'lat': 16.4647151, 'lng': 102.8247331}","{'lat': 16.4806252, 'lng': 102.8199806}",...,"{'lat': 16.4691493, 'lng': 102.8302428}","{'lat': 16.4697047, 'lng': 102.8302438}",None,None,None,None,None,None,None,None
3542,30362P,"{'lat': 13.7408937, 'lng': 100.6273838}","{'lat': 13.7513243, 'lng': 100.6142789}","{'lat': 13.7549523, 'lng': 100.6144278}","{'lat': 13.7354049, 'lng': 100.6280963}","{'lat': 13.7342095, 'lng': 100.6314732}","{'lat': 13.752294, 'lng': 100.6231089}","{'lat': 13.7354754, 'lng': 100.6260138}","{'lat': 13.7476373, 'lng': 100.6430234}","{'lat': 13.7297371, 'lng': 100.6477181}",...,"{'lat': 13.7579566, 'lng': 100.6157759}","{'lat': 13.7305512, 'lng': 100.6179121}","{'lat': 13.7297647, 'lng': 100.6248821}","{'lat': 13.7635362, 'lng': 100.63987}","{'lat': 13.7493223, 'lng': 100.6507867}","{'lat': 13.7332085, 'lng': 100.6449628}","{'lat': 13.7645946, 'lng': 100.636494}","{'lat': 13.733252, 'lng': 100.6405966}","{'lat': 13.7536158, 'lng': 100.6347718}",None

In [ ]:
scid_changetype = scid_changename['school_idno'].str.replace("P","")

In [ ]:
scid_changetype

0           1
1           4
2           6
3           7
4           9
        ...
3538    30342
3539    30358
3540    30359
3541    30360
3542    30362
Name: school_idno, Length: 3543, dtype: object

In [ ]:
school = pd.concat([scid_changetype,scid_changename], axis=1)

In [ ]:
school.drop(school.columns[2])
sc1=school.iloc[:,0:1]
sc2=school.iloc[:,2:]

In [ ]:
school = pd.concat([sc1,sc2], axis=1)
schoolfinal=school.rename(columns={'school_idno':'school_id'})
schoolfinal

,school_id,0,1,2,3,4,5,6,7,8,...,10,11,12,13,14,15,16,17,18,19
0,1,"{'lat': 16.1311875, 'lng': 102.6504375}","{'lat': 16.1350641, 'lng': 102.6290474}","{'lat': 16.1482073, 'lng': 102.6207588}","{'lat': 16.1279195, 'lng': 102.6138295}",None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,4,"{'lat': 16.6744524, 'lng': 102.9189581}","{'lat': 16.6934, 'lng': 102.926531}","{'lat': 16.682199, 'lng': 102.909279}","{'lat': 16.6876442, 'lng': 102.9062154}","{'lat': 16.6874816, 'lng': 102.9060958}","{'lat': 16.6959559, 'lng': 102.911213}",None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,6,"{'lat': 16.0717586, 'lng': 102.7338184}","{'lat': 16.0521945, 'lng': 102.7206649}","{'lat': 16.067152, 'lng': 102.7323694}","{'lat': 16.0559465, 'lng': 102.7283399}","{'lat': 16.055911, 'lng': 102.7437213}","{'lat': 16.0706613, 'lng': 102.7329711}","{'lat': 16.0546789, 'lng': 102.7140396}","{'lat': 16.0731008, 'lng': 102.7368188}","{'lat': 16.0715606, 'lng': 102.7342584}",...,"{'lat': 16.0728641, 'lng': 102.733482}","{'lat': 16.0657114, 'lng': 102.7287431}","{'lat': 16.072814, 'lng': 102.7399438}","{'lat': 16.0560054, 'lng': 102.7258071}","{'lat': 16.0436701, 'lng': 102.7384617}","{'lat': 16.0637541, 'lng': 102.7209871}","{'lat': 16.0687492, 'lng': 102.7357992}","{'lat': 16.0484948, 'lng': 102.7470726}","{'lat': 16.0690776, 'lng': 102.7309927}","{'lat': 16.0697929, 'lng': 102.7340638}"
3,7,"{'lat': 16.532009, 'lng': 102.5913487}","{'lat': 16.5469506, 'lng': 102.5946326}","{'lat': 16.5304647, 'lng': 102.5888848}","{'lat': 16.5487389, 'lng': 102.5952108}",None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,9,"{'lat': 15.8353887, 'lng': 102.6086849}","{'lat': 15.8540116, 'lng': 102.6297322}","{'lat': 15.8424063, 'lng': 102.6286231}","{'lat': 15.8353984, 'lng': 102.6087099}","{'lat': 15.835351, 'lng': 102.608366}","{'lat': 15.8353984, 'lng': 102.6087099}","{'lat': 15.8353984, 'lng': 102.6087099}","{'lat': 15.8352424, 'lng': 102.6083645}","{'lat': 15.8611798, 'lng': 102.6086101}",...,"{'lat': 15.8353984, 'lng': 102.6087099}",None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3538,30342,"{'lat': 16.3623531, 'lng': 102.6050499}",None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3539,30358,"{'lat': 16.048969, 'lng': 102.80816}","{'lat': 16.0542794, 'lng': 102.7920569}",None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3540,30359,"{'lat': 16.4241996, 'lng': 102.8015855}","{'lat': 16.4512645, 'lng': 102.8162773}","{'lat': 16.4496923, 'lng': 102.8157815}","{'lat': 16.4317487, 'lng': 102.8111629}","{'lat': 16.4215141, 'lng': 102.8077957}","{'lat': 16.4500026, 'lng': 102.8184128}","{'lat': 16.4519146, 'lng': 102.8186759}","{'lat': 16.4357091, 'lng': 102.8052259}","{'lat': 16.4481546, 'lng': 102.7874673}",...,"{'lat': 16.4450546, 'lng': 102.8199799}","{'lat': 16.4382674, 'lng': 102.8206531}","{'lat': 16.443305, 'lng': 102.792247}","{'lat': 16.4354382, 'lng': 102.8058774}","{'lat': 16.445288, 'lng': 102.7923799}","{'lat': 16.4437682, 'lng': 102.7964501}","{'lat': 16.4338027, 'lng': 102.8142827}","{'lat': 16.4214039, 'lng': 102.8074362}","{'lat': 16.442887, 'lng': 102.822015}",None
3541,30360,"{'lat': 16.4810561, 'lng': 102.8317087}","{'lat': 16.4687957, 'lng': 102.8010787}","{'lat': 16.4969229, 'lng': 102.8329121}","{'lat': 16.4716564, 'lng': 102.8263428}","{'lat': 16.4903517, 'lng': 102.8135589}","{'lat': 16.4799106, 'lng': 102.8178279}","{'lat': 16.47801, 'lng': 102.8203845}","{'lat': 16.4647151, 'lng': 102.8247331}","{'lat': 16.4806252, 'lng': 102.8199806}",...,"{'lat': 16.4691493, 'lng': 102.8302428}","{'lat': 16.4697047, 'lng': 102.8302438}",None,None,None,None,None,None,None,None
3542,30362,"{'lat': 13.7408937, 'lng': 100.6273838}","{'lat': 13.7513243, 'lng': 100.6142789}","{'lat': 13.7549523, 'lng': 100.6144278}","{'lat': 13.7354049, 'lng': 100.6280963}","{'lat': 13.7342095, 'lng': 100.6314732}","{'lat': 13.752294, 'lng': 100.6231089}","{'lat': 13.7354754, 'lng': 100.6260138}","{'lat': 13.7476373, 'lng': 100.6430234}","{'lat': 13.7297371, 'lng': 100.6477181}",...,"{'lat': 13.7579566, 'lng': 100.6157759}","{'lat': 13.7305512, 'lng': 100.6179121}","{'lat': 13.7297647, 'lng': 100.6248821}","{'lat': 13.7635362, 'lng': 100.63987}","{'lat': 13.7493223, 'lng': 100.6507867}","{'lat': 13.7332085, 'lng': 100.6449628}","{'lat': 13.7645946, 'lng': 100.636494}","{'lat': 13.733252, 'lng': 100.6405966}","{'lat': 13.7536158, 'lng': 100.6347718}",None

In [ ]:
for id in schoolfinal['school_id']:
 print(id)

1
4
6
7
9
11
16
17
18
19
2
21
22
23
24
25
26
28
29
3
31
32
33
35
36
38
491
493
494
495
496
497
498
499
508
509
51
511
512
513
515
517
518
519
52
521
522
523
524
525
526
527
528
529
531
532
533
534
535
536
537
538
539
54
541
542
543
545
546
547
548
549
55
551
552
553
554
555
557
558
56
561
562
563
564
565
566
567
568
569
57
571
572
573
574
575
576
577
578
579
58
581
582
583
584
585
586
587
588
589
59
591
592
593
594
595
596
597
598
601
602
603
604
605
606
607
608
609
61
611
612
613
614
615
616
617
618
619
62
621
622
623
624
625
626
627
628
629
631
632
633
634
635
636
637
638
639
64
641
642
643
644
645
646
647
648
649
65
651
652
653
654
655
656
657
658
659
66
661
662
663
664
665
666
667
668
669
67
671
672
673
674
675
676
677
678
679
68
681
682
683
684
685
686
687
688
689
69
691
692
693
694
695
696
697
698
699
701
702
703
704
705
706
707
708
709
71
711
712
713
714
715
716
717
718
719
72
721
722
758
759
76
761
1024
1033
1056
1057
1058
1061
1062
1063
1064
1065
1066
1067
1068
107
1071
1073
1074
1077
1078
1079
108
1081
1082
1084
1085
1086
1088
1089
1091
1092
1094
1096
1097
1098
1099
1101
1102
1103
1105
1106
1107
1108
111
1111
1112
1113
1119
112
1121
1122
1123
1124
1125
1126
1127
1128
1129
113
1131
1132
1133
1134
1135
1136
1137
1138
1139
1142
1143
1144
1145
1146
1148
1149
115
1151
1155
1157
1161
1163
1173
1174
1175
1176
1177
1178
1179
118
1181
1182
1183
1184
1185
1186
1188
1189
119
1191
1192
1193
1195
1196
1197
1198
1199
1203
1208
121
1212
1213
1214
1221
1223
1224
1225
1226
1227
1228
1229
123
1231
1233
1234
1236
1239
124
1241
1242
1243
1246
1247
1248
1249
125
1252
1253
1254
1256
1259
126
1261
1365
1368
137
1394
1395
1396
1402
1405
1407
1424
1429
1443
1444
1445
1547
155
1554
1557
1599
1601
1608
1609
1614
1616
1617
1618
1619
162
1638
1639
164
1641
1643
1649
165
1655
1657
1658
1662
1663
1682
1685
1686
1687
1688
1691
1706
1707
1709
171
1711
1713
1714
1715
1716
1717
1718
1722
1723
1724
1725
1726
1727
1729
173
1731
1732
1733
1734
1759
176
1761
1764
1767
1828
1834
1836
1837
1838
184
1858
186
1861
1863
1866
1882
1884
1885
1888
189
1892
1893
1894
1895
1897
1899
1901
1902
1906
1907
1913
1914
1915
1918
1921
1925
1926
1927
1931
1933
1935
1936
1937
1944
1945
1953
1954
1955
1956
1959
196
1961
1962
1964
1965
1966
1977
1978
1979
1983
1985
199
1991
1996
2004
2007
201
2011
2017
2018
2021
2025
2026
2029
2031
2032
2033
2039
204
2045
2048
2049
205
2068
207
2071
2075
2076
2078
2079
2082
2083
2084
2136
2138
2139
2142
2143
2151
2152
2153
216
2164
2165
2167
2168
2169
217
2171
2172
2173
2174
2176
2177
218
2185
2186
2189
2193
2194
2195
2199
2201
2202
2203
2204
2206
2207
2212
2215
2216
2217
2218
2219
2221
2231
2232
2233
2234
2235
2236
2237
2238
2239
224
2241
2242
2243
2244
2245
2246
2247
2248
2249
225
2251
2252
2253
2254
2255
2256
2257
2258
2259
226
2261
2262
2263
2264
2265
2266
2267
2268
2269
227
2271
2272
2273
2274
2275
2276
2277
2278
2279
228
2281
2282
2283
2284
2285
2286
2287
2288
2289
229
2291
2292
2293
2294
2295
2296
2297
2298
2299
2301
2302
2303
2304
2305
2306
2307
2308
2309
231
2311
2312
2313
2314
2315
2316
2317
2318
2319
232
2321
2322
2323
2324
2325
2326
2327
2328
2329
233
2331
2332
2492
2493
2499
2502
251
2826
2828
2829
2833
2835
2837
2839
2845
2886
2966
3096
3097
3184
3185
3191
3193
3194
3195
3196
3201
3207
3208
3209
321
3213
3216
3218
3219
3225
3226
3227
3231
3233
3235
3238
3239
324
3241
3243
3245
3248
325
3252
3258
326
3265
3267
3269
3272
3273
3275
3281
3282
3286
3287
3288
3289
3291
3293
3296
3299
3301
3302
3304
3305
3307
3308
3309
3311
3315
3317
3318
3319
332
3321
3338
334
3341
3345
3357
3373
3392
3394
3404
3405
3407
3409
341
3411
3412
3417
3418
3419
342
3421
3428
3437
3441
3445
3446
3447
3449
345
3451
3458
3464
3466
347
3471
3475
3477
3478
348
3481
3482
3483
3484
3485
3486
3487
3488
3489
349
3491
3492
3497
3504
3506
3514
3515
3518
3521
3527
3528
3532
3534
3538
354
3543
3547
3552
3553
3554
3559
356
3561
3562
3576
3577
358
3589
359
3591
3592
3593
3594
3595
3596
3597
3598
3599
3601
3606
3607
3616
3617
3618
3622
3623
3625
3627
366
3661
367
3674
3691
3704
3705
3707
3708
3711
3713
3714
3719
372
3721
3722
3723
3726
3728
3729
373
3819
3837
3845
3863
3867
387
3872
3873
3897
3898
39
3901
3905
3971
3972
3973
3976
3978
398
3981
3982
3983
3986
3987
3988
3989
399
3991
4319
4843
4942
5129
5133
5149
5193
5194
5195
5939
5941
5942
5943
5944
5945
5946
5947
5948
5949
5953
5954
5955
5956
5957
5959
5961
5962
5963
5964
5965
5966
5967
5968
5969
5971
5972
5973
5974
5975
5976
5977
5978
5979
5981
5982
5983
5984
5985
5986
5987
5988
5989
599
5991
5992
5993
5994
5995
5997
5998
6001
6003
6004
6005
6006
6007
6008
6009
6011
6012
6015
6016
6017
6018
6021
6022
6023
6024
6025
6026
6028
6031
6032
6033
6034
6035
6036
6037
6038
6039
6041
6042
6043
6044
6045
6046
6047
6049
6051
6052
6053
6054
6055
6056
6057
6058
6059
6061
6062
6063
6064
6065
6066
6067
6068
6069
6071
6072
6073
6075
6076
6077
6078
6079
6081
6082
6083
6086
6087
6088
6091
6092
6093
6094
6095
6096
6097
6098
6099
6102
6103
6104
6105
6106
6107
6108
6109
6111
6112
6113
6114
6115
6116
6117
6118
6121
6123
6124
6125
6126
6127
6128
6129
6131
6132
6133
6134
6135
6138
6139
6142
6144
6147
6148
6149
6152
6156
6157
6158
6161
6164
6166
6167
6168
6169
6173
6176
6178
6242
6253
6254
6255
6256
6258
6259
6263
6264
6265
6266
6269
6272
6273
6274
6275
6278
6279
6283
6284
6285
6286
6289
6291
6292
6296
6297
6298
6302
6306
6311
6313
6316
6319
6323
6326
6332
6333
6335
6337
6339
6342
6343
6344
6345
6349
6351
6352
6354
6355
6357
6359
6361
6362
6364
6365
6372
6374
6375
6376
6377
6481
6623
6636
6639
6644
6645
6648
6686
6707
6732
6733
6758
6763
6815
6913
6917
6918
6919
6927
6946
7031
7032
7033
7034
7035
7036
7037
7042
7043
7044
7045
7063
7079
7083
7101
7103
7137
7138
7139
7146
7147
7154
7176
7177
7179
7189
7212
7215
7254
726
7304
7307
7308
7349
735
7351
742
7421
7422
7424
7439
7478
7542
7543
7545
7601
7605
7625
7626
7668
7669
767
7676
7703
7704
7705
7706
7707
7708
7709
771
7711
7712
7713
7721
7722
7723
7725
7732
7733
7739
7751
7752
776
7764
7765
7773
7779
7794
7838
784
7841
7848
785
7851
7857
7858
786
7865
7868
7889
7894
7895
7896
7897
7899
7938
7955
7956
7964
8026
8027
8046
8054
8055
8059
806
8061
8062
8085
8089
8101
812
8123
8132
8133
8155
8193
8226
8247
8258
8259
8282
8285
8295
83
8321
8326
8334
8335
834
8355
8356
8357
8359
8361
8362
8378
8381
8383
8385
8386
8387
8388
8389
8394
8399
8404
8405
8407
8408
8426
8436
8437
8438
8439
8468
8477
8487
8488
8492
8494
8499
8501
8514
8517
8526
8529
8531
8532
8536
854
8541
8545
8555
8557
856
8564
8565
8572
86
8602
8612
8621
8635
8637
8648
868
8682
8702
8725
8751
8753
8758
8768
8781
8835
884
8898
89
8908
8918
8924
8936
8939
895
8957
8959
8968
8999
9032
9057
9066
9082
9094
9141
9143
9149
9152
9172
9181
9197
9203
9211
9215
9259
9275
9276
9332
9335
9339
9368
937
9372
9379
9383
9407
9408
9415
9551
9579
9586
9589
9591
9595
9598
96
9613
9645
965
9669
9674
9675
9687
9689
969
9694
9698
9711
9756
9765
9773
10314
10482
10486
10487
10502
10511
10515
10735
1087
10874
10883
10886
10915
11144
11186
11192
11212
11232
11243
11249
11264
11273
11552
11559
1156
11569
11725
11868
11878
11886
11915
11917
11955
11978
12098
12099
12104
12106
12113
12134
12139
12215
1222
12223
12323
12392
12403
12423
12473
12521
12551
12565
12582
12603
12607
12626
12655
12657
12676
1268
1271
12749
12759
12762
12821
12839
12942
12943
12957
12984
1299
13015
13031
13045
13074
1311
13111
13113
13116
13118
13121
13124
13365
13368
1339
13391
13403
13411
1342
1343
13661
13669
13702
1378
13813
13815
1383
13852
13856
13867
13889
13904
13934
13955
13957
13972
13978
13983
13991
14017
14089
14214
14219
14263
14466
14472
14488
14501
14539
14567
14569
1457
14574
14576
14577
14592
14593
14594
1461
14622
14639
14668
14671
14672
147
14814
14835
14839
1484
14846
14869
15089
15102
1511
15111
15114
15294
15351
15356
15358
15362
15364
1537
15378
15412
15429
16072
16658
16763
16824
16841
16921
16922
16967
16971
16997
17021
17024
17029
17032
17045
17093
17095
17112
17114
17125
17127
17128
17131
17143
17145
17177
17192
17229
17282
17284
17296
17311
17318
17325
17337
17384
17404
17405
17406
17407
17408
1741
17411
17415
17416
17418
17419
1742
17422
17423
17426
17428
1743
17431
17432
17434
17435
17441
17442
17445
1745
17455
17461
17464
17468
17478
17479
17483
17487
17488
17493
17496
17499
17503
17504
17505
17506
17507
17508
17509
1751
17511
17512
17514
17515
17516
17517
17518
17521
17525
17526
17527
17528
17529
1753
17531
17535
17536
17537
17538
17539
1754
17541
17545
17547
17548
17553
17555
17556
17561
17562
17569
17571
17592
17595
17598
17601
17605
17609
17611
17612
17613
17614
17615
17616
17618
17619
1762
17621
17622
17623
17625
17627
17628
17629
1763
17631
17632
17633
17634
17635
17636
17637
17638
17639
17642
17644
17645
1765
17651
17652
17653
17655
17657
17658
17659
17661
17663
17664
17665
17666
17667
17669
17671
17672
17673
17674
17676
17677
17678
17679
1768
17681
17682
17683
17684
17685
17686
1769
17692
17693
17694
17695
17697
17698
17702
17703
17704
17705
17706
17707
17708
17709
1771
17711
17712
17713
17714
17715
17716
17717
17718
17719
1772
17721
17722
17723
17724
17725
17726
17727
17728
17729
1773
17731
17732
17733
17734
17735
17736
17737
17738
17739
1774
17741
17742
17743
17744
17745
17746
17747
17748
17749
1775
17751
17752
17753
17754
17755
17756
17757
17758
17759
1776
17761
17762
17774
17776
17777
17778
17779
1778
17781
17782
17783
17784
17785
17786
17787
17788
17789
1779
17797
17798
17802
17806
17809
17813
17816
17819
1782
17824
17826
17827
17828
17829
17831
17833
17845
17848
17851
17852
17854
17856
17857
17861
17863
17864
17867
17869
17873
17874
17876
17878
1788
17881
17882
17883
17884
17885
17886
17887
17889
17905
17917
17919
17922
17923
17954
17959
18027
18058
18061
18066
18069
18071
18072
18073
18074
18075
18077
18078
1808
18084
18085
1809
18091
18092
18095
18097
18099
18101
18105
18106
18107
18108
1811
18111
18112
18113
18114
18115
18116
18117
18118
18126
18128
18129
1813
18132
18134
18135
18137
18141
18142
18144
18155
18156
18163
18166
18169
18171
18176
18182
18183
18185
18194
18198
182
18202
18211
18305
18326
18327
18328
18329
1833
18331
18332
18334
18335
18338
18342
18344
18345
18346
18347
18348
18354
18355
18356
18358
18361
18362
18364
18366
18368
18369
18376
18377
18378
18379
18381
18382
18383
18384
18385
18388
1839
18392
18396
18398
18416
18417
18418
18419
1842
18421
18422
18423
18424
18425
18426
18427
18428
18429
1843
18431
18432
18433
18434
18435
18436
18437
18438
18439
1844
18441
18442
18443
18454
18459
18461
18464
18465
18466
18467
18488
1849
18502
18505
18512
18515
18517
18533
18536
18537
18538
18541
18542
18543
18544
18545
18547
18548
18549
1855
18551
18552
18553
18554
18555
18556
18557
18558
18559
18564
18565
18566
18567
18568
18569
1857
18571
18572
18573
18574
18575
18576
18579
18581
18585
18586
18587
18588
18589
1859
18591
18592
18593
18594
18595
18596
18597
18598
18601
18602
18603
18604
18605
18606
18607
18612
18614
18616
18621
18622
18623
18624
18627
18628
18629
18633
18636
18686
18687
187
18702
18704
18706
18707
18709
18711
18712
18718
18739
19104
19105
19107
19111
19156
19183
19219
19255
19256
19259
19264
19265
19309
19334
19346
19353
19371
19375
19383
19389
19391
19393
19396
19402
19434
19437
19442
19445
19446
19452
19453
19456
19461
19462
19463
19465
19466
19467
19468
19469
1947
19472
19473
19475
19476
19477
19478
19479
1948
19481
19482
19483
19487
19488
19491
19492
19493
19494
19495
19496
195
19501
19502
1951
19512
19532
19561
19711
19813
19828
19831
19832
19836
19976
19995
20137
20144
20146
20147
20148
20164
20168
20214
20226
20254
20255
20367
20433
20632
20728
20753
20966
20967
20982
21082
21222
2125
21258
21452
21601
2162
21658
21782
2191
22155
22553
22576
22724
22768
22797
22835
23044
23056
23057
23058
23171
23175
23176
23184
23245
23307
23311
23312
23314
23318
23319
23324
23503
23522
23523
23525
23529
23533
23538
23584
23603
23604
23684
23695
23703
2376
23879
23887
23892
23893
23894
23898
24022
24026
24028
24029
24049
24176
24177
24178
24179
2418
24181
24182
101
102
103
104
105
106
107
109
1010
1011
1012
1013
1014
1015
1016
1017
1018
1019
1020
1021
1022
1023
1024
1025
1026
1027
1028
1029
1030
1031
1032
1033
1034
1035
1036
1037
1038
1040
1041
1042
1043
1044
1045
1046
1048
1057
1058
1059
1060
1061
1062
1063
1064
1065
1066
1067
1068
1069
1070
1071
1072
1073
1074
1075
1076
1077
1078
1079
1080
1081
1082
1084
1086
1087
1088
1089
1097
1098
1099
10100
10103
10104
10105
10106
10107
10108
10110
10111
10112
10113
10114
10115
10116
10117
10118
10119
10120
10121
10122
10125
10126
10127
10128
10129
10130
10131
10132
10133
10135
10136
10137
10138
10139
10142
10144
10145
10146
10147
10148
10149
10150
10151
10152
10153
10154
10155
10156
10158
10159
10160
10161
10162
10163
10164
10165
10166
10167
10168
10169
10170
10171
10172
10173
10174
10175
10176
10177
10178
10179
10180
10181
10182
10183
10184
10185
10186
10187
10188
10189
10190
10191
10193
10194
10195
10196
10197
10198
10199
10200
10201
10202
10203
10204
10205
10206
10208
10209
10210
10211
10212
10213
10214
10215
10216
10217
10218
10219
10220
10221
10222
10223
10224
10225
10226
10227
10228
10229
10230
10234
10235
10236
10237
10238
10242
10243
10244
10245
10247
10248
10249
10250
10251
10253
10254
10255
10257
10258
10259
10261
10262
10265
10266
10267
10268
10269
10270
10271
10272
10273
10275
10276
10280
10282
10285
10286
10287
10289
10290
10291
10292
10293
10294
10296
10297
10298
10299
10300
10301
10303
10304
10305
10306
10307
10308
10309
10311
10312
10313
10314
10315
10316
10317
10318
10319
10320
10321
10322
10323
10324
10325
10326
10327
10328
10329
10330
10331
10332
10333
10334
10335
10336
10337
10338
10339
10340
10341
10342
10343
10346
10347
10349
10352
10353
10356
10357
10358
10359
10360
10361
10362
10363
10366
10367
10368
10369
10370
10371
10372
10373
10374
10375
10376
10377
10378
10380
10381
10383
10384
10385
10386
10387
10388
10389
10390
10391
10392
10393
10394
10396
10397
10398
10399
10401
10402
10403
10404
10407
10408
10409
10410
10413
10417
10418
10419
10420
10421
10422
10426
10427
10428
10429
10430
10431
10432
10433
10434
10435
10436
10437
10438
10439
10440
10441
10442
10443
10444
10445
10446
10447
10448
10449
10450
10451
10452
10453
10454
10455
10456
10457
10458
10459
10462
10463
10465
10466
10467
10469
10470
10471
10472
10473
10474
10475
10476
10478
10479
10481
10482
10484
10488
10489
10490
10491
10492
10493
10494
10495
10496
10497
10498
10499
10500
10501
10502
10504
10505
10507
10508
10509
10510
10511
10512
10513
10514
10517
10518
10522
10524
10526
10527
10528
10529
10530
10531
10532
10533
10534
10535
10536
10537
10538
10539
10540
10541
10543
10545
10546
10547
10548
10551
10552
10554
10555
10558
10564
10566
10567
10568
10569
10570
10572
10574
10575
10576
10577
10578
10579
10580
10581
10582
10583
10584
10585
10586
10587
10588
10589
10590
10591
10592
10593
10594
10595
10597
10599
10600
10601
10602
10605
10606
10607
10608
10609
10610
10611
2026
2027
2028
2029
2030
2031
2032
2033
2034
2035
2036
2037
2038
2039
2040
2041
2042
2043
2044
2045
2046
2047
2048
2049
2050
2051
2052
2053
2054
2055
2056
2057
2058
2059
2060
2061
2062
2063
2064
2065
2066
2067
2068
2069
2070
2071
2072
2073
2074
2075
2076
2077
2078
2079
2080
2081
2082
2083
2084
2085
2086
2087
2088
2089
2090
2091
2092
2093
2094
2095
2096
2097
2098
2099
20100
20102
20103
20104
20106
20107
20108
20109
20110
20111
20112
20114
20115
20116
20117
20118
20119
20120
20121
20122
20123
20124
20125
20126
20127
20128
20129
20130
20131
20133
20134
20135
20136
20137
20138
20139
20140
20141
20142
20143
20144
20145
20146
20147
20148
20149
20150
20151
20152
20153
20154
20155
20156
20157
20158
20159
20160
20161
20162
20163
20164
20165
20166
20167
20168
20169
20170
20171
20172
20173
20174
20175
20176
20177
20178
20179
20180
20181
20182
20183
20184
20185
20186
20187
20188
20189
20190
20191
20192
20193
20194
20195
20196
20197
20198
20199
20200
20201
20202
20203
20204
20205
20206
20207
20208
20209
20210
20211
20212
20213
20214
20215
20216
20217
20218
20219
20220
20221
20222
20223
20224
20225
20226
20227
20228
20229
20230
20231
20232
20233
20234
20235
20236
20237
20238
20239
20240
20241
20242
20243
20244
20245
20246
20247
20248
20249
20250
20251
20252
20253
20254
20255
20256
20257
20258
20259
20260
20261
20262
20263
20264
20265
20266
20267
20268
20269
20270
20271
20272
20273
20274
20275
20276
20277
20278
20279
20280
20281
20282
20283
20284
20285
20286
20287
20288
20289
20290
20291
20292
20293
20294
20295
20296
20297
20298
20299
20300
20301
20302
20303
20304
20305
20307
20308
20309
20310
20311
20312
20313
20314
20315
20316
20317
20318
20319
20320
20321
20322
20323
20324
20325
20326
20327
20328
20329
20330
20331
20332
20333
20334
20335
20336
20337
20338
20339
20340
20341
20342
20343
20344
20345
20346
20347
20348
20349
20350
20351
20352
20353
20354
20355
20356
20357
20358
20362
20363
20364
20365
20369
20370
20371
20372
20373
20375
20377
20378
20379
20380
20381
20382
20383
20385
20387
20388
20390
20391
20395
20396
20397
20398
20399
20400
20401
20402
20408
20409
20410
20411
20412
20413
20414
20415
20416
20417
20418
20419
20420
20421
20423
20424
20425
20426
20427
20428
20432
20434
20435
20436
20437
20439
20440
20441
20442
20443
20444
20445
20446
20447
20448
20449
20450
20451
20452
20453
20454
20455
20456
20457
20458
20459
20460
20461
20462
20463
20464
20465
20466
301
302
303
304
306
307
308
309
3010
3011
3012
3013
3014
3015
3016
3017
3018
3019
3020
3021
3022
3023
3024
3025
3026
3027
3028
3029
3030
3031
3032
3033
3034
3035
3036
3037
3038
3039
3040
3041
3042
3043
3044
3045
3046
3047
3048
3049
3050
3051
3052
3053
3054
3055
3056
3057
3058
3059
3060
3061
3062
3064
3065
3066
3067
3068
3069
3070
3071
3072
3073
3074
3075
3076
3077
3078
3079
3080
3081
3082
3083
3084
3085
3086
3087
3088
3089
3090
3091
3092
3093
3094
3095
3096
3097
3098
3099
30100
30101
30102
30103
30104
30105
30106
30107
30108
30109
30110
30111
30112
30113
30114
30115
30116
30117
30118
30119
30120
30121
30122
30123
30124
30125
30126
30127
30128
30129
30130
30131
30132
30133
30134
30135
30136
30137
30138
30139
30140
30141
30142
30143
30144
30145
30146
30147
30148
30149
30150
30151
30152
30153
30154
30155
30156
30157
30158
30159
30160
30161
30162
30163
30164
30165
30166
30167
30168
30169
30170
30171
30172
30173
30174
30175
30176
30177
30178
30179
30180
30181
30182
30183
30184
30185
30186
30187
30188
30189
30190
30191
30192
30193
30194
30195
30196
30197
30198
30199
30200
30201
30202
30203
30204
30205
30206
30207
30208
30209
30210
30211
30212
30213
30214
30215
30216
30217
30218
30219
30220
30221
30222
30223
30225
30226
30227
30228
30229
30230
30231
30232
30233
30234
30235
30236
30237
30238
30239
30240
30241
30242
30243
30244
30245
30246
30247
30248
30249
30250
30251
30253
30254
30255
30256
30257
30258
30260
30261
30262
30263
30264
30265
30266
30267
30268
30269
30270
30271
30272
30273
30274
30275
30276
30277
30278
30279
30280
30281
30282
30283
30284
30285
30286
30287
30288
30289
30290
30291
30292
30293
30294
30295
30296
30297
30298
30299
30300
30301
30302
30303
30304
30305
30306
30307
30308
30309
30310
30311
30312
30313
30314
30315
30316
30317
30318
30319
30320
30321
30322
30323
30324
30325
30326
30327
30328
30329
30330
30331
30332
30333
30334
30335
30336
30337
30338
30339
30340
30342
30358
30359
30360
30362